:root {
    --font-family: "BrownRegular", "BrownFtv", "Roboto", "Helvetica", sans-serif;
    --color-yellow: #ffc300;
    --color-black: #232323;
    --color-gray-dark: #5f7081;
    --color-gray: #d7dfe8;
    --color-access-green: #009e73;
    --color-access-red: #d55e00;
    --color-access-yellow: #f0e442;
    --color-access-orange: #e69f00;
    --gutter-size: 1.5em;
}

/* ---------------------------------------------- */
/* Style html - font-size root */

/* Font size desktop */
html {
        font-size: 15px;
}

/* Font size tablette */
@media screen and (max-width: 880px) {
    html {
        font-size: 10px;
    }
}

/* Font size mobile */
@media screen and (max-width: 420px) {
    html {
        font-size: 10px;
    }
}

/* ---------------------------------------------- */
/* Style Body - div englobants */

body {
    font-family: var(--font-family);
}

.c-body {
    max-width: 75%;
    margin-left: 12.5%;

}

.compilateur-sondages {
    max-width: 100%;
    min-height: 800px;
    margin-left: 0;
    color: #1e1e1e;
}

/* ---------------------------------------------- */
/* Style titraille et chapo */

.compilateur-sondages-title {
    line-height: 3.2rem;
    font-size: 2.6rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.compilateur-sondages__chapo {
    line-height: 2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.compilateur-sondages__update {
    padding: 1rem 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.compilateur-sondages__intro {
    margin-top: 1.5rem;
    margin-bottom: 30px;
    font-size: 1rem;
    line-height: 1.4rem;
}

/* ---------------------------------------------- */
/* Style titraille des graphiques */

.graph-container {
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.grph-title {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-bottom: 1rem;
}

.grph-content {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}

.grph-caption {
    text-align: right;
    width: 100%;
    box-sizing: border-box;
    color: var(--color-gray-dark);
    font-size: .7rem;
    margin-top: 1rem;
}

.grph-caption a,
.grph-caption a:focus,
.grph-caption a:active,
.grph-caption a:hover,
.grph-caption a:visited {
    color: var(--color-black);
    font-size: 0.7rem;
}

.grph-note {
    color: var(--color-gray-dark);
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Style éléments graphiques */


/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Graphique 1 : classement */

/* Les boites par candidat */
.candidat-box {
    display: flex;
    flex-flow: row wrap;
    max-height: 5rem;
    max-width: 100%;
    margin-bottom: 1%;
    border-bottom: 1px solid var(--color-gray);
}


/* ---------------------------------------------- */
/* Partie gauche : photo, nom, parti */
.left-box {
    display:flex;
    flex-grow:0;
    align-items: center;
    width:40%;
    max-height: inherit;
}

.photo-box {
    display: flex;
    margin-left: .4rem;
    margin-right: .4rem;
    width:20%;
    align-items: bottom;
    padding: 0.1rem;
}

  .circle-img {
    font-size: 1rem;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    border: 0.2rem solid;
  }

.candidat-nom {
    margin-bottom: 0;
    width:80%;

}

.sub-nom {
    font-size: 1.2rem;
    margin-top:0;
    margin-bottom: 0;
}


@media only screen and (max-width: 480px) {

    .sub-nom {
        font-size: 1rem;
    }

    .sub-parti {
        display: none;
    }
}

.sub-parti {
    font-size: .8rem;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--color-gray-dark);
}

/* ---------------------------------------------- */
/* Partie droite : photo, nom, parti */
.right-box {
    width: 60%;
    max-height: inherit;
}

.graph-box {
    max-height: inherit;
}


